
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  /* Global Tags */


h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* navigation */

nav {
    position: fixed;
    width: 100%;
    background-color:#f9f9ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    background-image: url("images/banner.jpg");
    z-index: 999;

  
}

nav img {
    width: 90px;
    cursor: pointer;
}

nav .navigation{
    display: flex;
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;

}

#menu-close{
    display: none;
}
nav .navigation ul {
display: flex;
justify-content: flex-end;
align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
   
    color: rgb(35, 35, 85);
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;

}

nav .navigation ul li a:hover {
    color:blue;
}

/* home */

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url("/images/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
  
    text-align: center; */
    padding-top: 40px;
}


#message{
    padding: 8vw 8vw 8vw 8vw ;
    /* background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)), url("images/banner.jpg"); */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message .msg-box{
    color: rgb(105, 13, 13);
}
#message .msg-box h2{
    padding-top: 0;
padding-bottom: 40px;
font-weight: 600;
font-size: 2rem;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#message .msg-box p{
    padding-right:8vw ;
    background: #f9f9ff;
    text-align: justify;

}

.prince-photo img{
    height: 350px;
}

#message .prince-photo{
    border-radius: 8px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
}
 
/* footer  */

footer {
    padding: 5vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;

}

footer h3{
    color: rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding-bottom: 10px 0;
    font-size: 15px;
    cursor: pointer;
}

footer li:hover{
    color: rgb(241,240,245);
    transition: 0.3s ease;

}

footer p{
    color: #7b838a;
}

footer .query-box{
    margin-top: 20px;
}

footer input{
    width:240px;
    padding: 15px 12px;
    background-color: #334F6C;
    border: none;
    outline: none;
    color:#fff;
}

footer .query-box a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    

}

footer .query-box a.yellow{
    color: #fff;
    background: #fdc938;
    transition: 0.3s ease;

}

footer .query-box a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}


/* .pro-links{
    padding-top: 10px;
}
.pro-links{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;

} */

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{
    color: #fff;
}

footer .copyright .pro-links {
    margin-top: 0px;
    justify-content: space-between;

    
}

footer .copyright .pro-links i {
  background-color: #5f7185;
  color: #fff;
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;


}

footer .copyright .pro-links i:hover{
    background-color: #fdc938;
  color: #2c2c2c;
}
.eye{
    display: flex;
}
/* responsive */


@media (max-width: 769px) {
    body{
        position: relative;
        overflow: hidden;
    }

   
    nav {
        padding: 15px 20px;
        
        
    }

    nav img{
        width: 90px;
        cursor: pointer;
    }

    #menu-btn{
      
        display: initial;
    
    }
    
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(207, 45, 23, 0.45);
        backdrop-filter: blur(.5px);
        border: 1px solid rgba(255,255,255,0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
        }

    nav .navigation ul.active{
            right: 0;
        }

    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;

    }

    nav .navigation ul li a{
        color: #fff;
 
    }

    #home p {
        width: 90%;
     
    }

    #home {
        padding-top: 0px;
    }

    #message{
        padding: 6vw 4vw 6vw 4vw;
    }

    #message .msg-box h2{
        font-weight: 600;
        padding-bottom: 10px;
        }

/* own css  */
    #message .msg-box p{
        padding-right:8vw ;
        text-align:justify;
        background: #f9f9ff;
       
    
    }
    
    .prince-photo img{
        height: 300px;
        
    }
    
    #message .prince-photo{
        border-radius: 8px;
        /* height: 200px; */
       display:flex;
       flex-direction:column;
       padding: 10px;
       box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    }

    footer {
        padding: 10px;
    }
    
    footer .footer-col{
        padding-bottom: 30px;
        padding-top: 10px ;
        padding-left: 15px;
        padding-right: 15px;
    
    }
    
    footer h3{
        font-weight: 500;
        font-size: 1rem;
    }
    
    footer li {
        font-size: 10px;
     
    }

    footer .copyright p{
       
        font-size: 0.5rem;
    }

}


@media (max-width: 475px){
    nav {
        padding: 15px 20px;
    }

    nav img{
        width: 50px;
        cursor: pointer;
    }

    #home h2{
        font-size: 1.5rem;
        text-align: center;
    }

    #home p {
        margin-top: 20px;
        font-size: 0.25;
     
    }

    #home a{
       
        font-size: 0.7rem;
        font-weight: 500;
        border-radius:5px ;
    
    }
    #home .btn{
        margin-top: 70px;
        margin-bottom: 0;
    }

    #message .msg-box h2{
        font-weight: 600;
        padding-bottom: 15px;
        font-size: 1rem;
        padding-top: 20px;
        padding-left: 10px;
        
        }

/* own css  */
    #message .msg-box p{
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right:8vw ;
        font-size: 0.5rem;
       
    
    }
    
    .prince-photo img{
        height: 100px;
        
    }
    
    #message .prince-photo{
        border-radius: 8px;
        /* height: 200px; */
       display:flex;
       flex-direction:column;
       padding: 10px;
       box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    }

    footer {
        padding-top: 10px;
        padding-right: 10px;
        height: 450px;
        width: auto;
    }
    
    footer .footer-col{
        padding-bottom: 10px;
        padding-top: 10px ;
        padding-left: 10px;
        padding-right: 10px;
    
    }
    
    footer h3{
        font-weight: 500;
        font-size: 12px;
      
    }
    
    footer li {
        font-size: 10px;
     
    }

    footer .copyright p{
       padding: 0;
        font-size: 0.3rem;
    }



}

/* quick menu  */

main {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    padding-left: 20px;
    width: 100%;
    height: 15vh;
    position: absolute;
}

ol li {
    list-style-type: none;
}

.left-body {
    border: 1px solid gray;
    background-color: #5b83ce;
    padding: 20px;
    border-radius: 0px;
    font-size: 20px;
    color: white;
    width: 100%;
  
}

.left-body .instructions {
    padding: 15px;
    border: 1px solid gray;
    /* border-radius: 10px; */
    background-color:rgb(204, 37, 37);
    color: #ffffff;
    height: fit-content;
    font-weight: 500;
}

.prospucts h2 {
    font-size: 20px;
    text-shadow: #757373;
}
.helpline p{
    margin: 10px 0 10px 0;
}
.helpline-contact a{
    color: white;

}

.left-body h3 {
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 10px 0px 14px 0px;
}


.acc-section {
    font-size: 24px;
    font-weight: bold;
    margin: 14px 0px 20px 0px ;
    /* font-family: 'IBM Plex Mono', monospace; */
}

.instruction-list p,
li {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: medium;
    color: white;
}

.right-body{
    margin-left: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color:#fdc938;
    height: fit-content;
    
}

.right-body .copy{
    color: black;
    text-align: center;
}
.right-body .copy h2{
    color: black;
    text-align: center;
    font-weight: 600;
}

.right-body .copy .p {
    margin: 1.5em 0;
    font-size:0.875rem;
    text-align: center;
}

.right-body form{
    width:328px;
}

form input[type="text"],form input[type="email"], form input[type="password"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    text-align: left;

}
.input-container-password{
    position: relative;
}
.input-container .password i{
    position:relative;
    
}



.signup-btn{
    
    width: 100%;
    background:rgb(240, 12, 12);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.signup-btn:hover{
    background: #2c4893;
    cursor: pointer;
}

.helpline-contact li {
    font-size: small;
}