@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first-header {
    background-color: #3a3df0;
    /* background-color: black; */
    display: flex;
    flex-direction: row-reverse;
    padding: 3px;

}

.first-header p {
    text-align: center;
    border: none;
    /* padding: 10px; */
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.header-signin:hover {
    color: black;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.container {

    margin: 3% 5% 0 5%;
}

.main-header {
    display: flex;
    margin: 0 5% 0 5%;
    /* border: 2px solid red; */
}

.main-header .left-logo img {
    height: 90px;
}
.main-header .left-logo .logo-new {
    display: none;
}

.main-header .right-logo {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    color: red;
    /* border: 2px solid black; */

}

.main-header .right-logo p {
    text-align: right;
    font-size: 50px;
}

hr {
    border: 1px solid rgba(146, 68, 146, 0.719);
    margin-left: 0;
    margin-right: 0;
}

.welcome-note {
    background-color: rgb(241, 76, 10);
    margin: 0 5% 0 5%;
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.welcome-note p {
    text-align: center;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

/* Main Body CSS */
main {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

ol li {
    list-style-type: none;
}

.left-body {
    border: 1px solid gray;
    background-color: #5b83ce;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    width: 70%;
}

.left-body .instructions {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}
.helpline p{
    margin: 10px 0 10px 0;
}
.helpline-contact a{
    color: white;
}

.left-body h3 {
    font-size: 17px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 10px 0px 14px 0px;
}

.header-text {
    font-family: 'Anton', sans-serif;

}

.acc-section {
    font-size: 24px;
    font-weight: bold;
    margin: 14px 0px 20px 0px ;
    /* font-family: 'IBM Plex Mono', monospace; */
}

.instruction-list p,
li {
    font-family: 'Pathway Gothic One', sans-serif;

    font-size: 16px;
    margin-bottom: 15px;
    font-weight: medium;
}

.right-body {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(199, 233, 210);
    margin-left: 10px;
    width: 30%;
    padding: 50px 0 0 0;
height: 100%;
}

.right-body h4 {
    text-align: center;
    font-size: 29px;


}

.user-logo img {
    height: 100px;

}

.existing-user {
    text-align: center;
    font-size: 23px;
}

.existing-user button {
    border: none;
    padding: 7px;
    margin: 10px;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}

.main-signin {
    background-color: rgb(75, 95, 209);
    color: white;

    border-radius: 5px;
    text-transform: uppercase;

}

.main-signin:hover {
    background-color: rgb(191, 53, 219);
    color: #fff;
    text-transform: none;
}

.new-regs {
    background-color: rgb(75, 95, 209);
    color: white;
    border-radius: 5px;
}

.activate {
    background-color: rgb(75, 95, 209);
    color: white;
    border-radius: 5px;
}

.new-regs:hover {
    background-color: rgb(191, 53, 219);
    color: #fff;
    border-radius: 5px;
}

.activate:hover {
    background-color: rgb(191, 53, 219);
    color: #fff;
    border-radius: 5px;
}

.prospucts h2 {
    font-size: 16px;
    margin: 14px 0 14px 0;
}
.prospucts a {
    color: #fff;
}
.prospucts a:hover {
    color: #000000;
    text-decoration: dashed !important;
}

footer {
    background-color: #3a3df0;
    align-self: start;
    margin-top: 5px;
    height: 50px;
    color: #fff;
    text-align: center;
    padding: 5px;
}

/* modal box */
.signin-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 40%;
    border-radius: 20px !important;
}

.modal-header{
    background-color: #22223b;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 20px 20px 0 0 ;

}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.main-form{
    padding: 30px;
}
.email{
margin: 10px;
}
.password{
margin: 10px;
}
.main-form label{
    font-size: 22px;
    color: #665dee;
}
.main-form input{
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5px;
    margin:10px 0 10px 0;
    font-size: 20px;
    outline: none;
    width: 100%;
}
.main-form input:focus{
    color: #3d2b85;
    border-bottom: 2px solid red;
}
.main-form button , #registration_form{
    border: none;
    padding: 7px;
    margin: 10px;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #22223b;
    color: #fff;
    border-radius: 5px;
}
.forget a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    text-align: right;
    float: right;
}
.forget a:hover{
    color: blue;
}


/* Registration form */
.red{
    color: red;
}
.help-blockBhuBlock{
    color: red;
}
.form{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #e7e1e1;
}
.form-header{
    border-bottom: 1px solid grey;
    border-radius: 10px 10px 0 0px ;
    padding: 7px;
    background-color: #d6cfcf;

}
.form-header p{
   color: gray;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 25px;
}
.form-body{
    padding: 10px;
}
.form-group{
    margin: 10px;
}
.form-group input, select{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 30%;
    font-size: 17px;
    max-width: 30%;
    vertical-align: middle;
    justify-content: space-between;
}
.form-group  select{
    text-align: justify;
}
.small{
    font-size: 12px;
}
.input-label{
    text-align: justify;
    display: flex;
}
.button button{
padding: 7px;
border-radius: 5px;
border: none;
cursor: pointer;
font-size: 16px;
}
.button .submit{
    color: white;
    background-color: #3a3df0;
}
.button .submit:hover{
    color: white;
    background-color: rgb(76, 196, 76);
}
.button .reset{
    color: rgb(0, 0, 0);
    background-color: #f0e43a;
}
.button .reset:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(172, 76, 196);
}